* , :before , :after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: linear-gradient(to right, #BBD2C5, #536976);
}

h1 {
  color: white;
  margin: 30px;
}

.menu {
  background-color: white;
  border-radius: 50%;
  height: 60px;
  right: 25px;
  position: fixed;
  top: 25px;
  width: 60px;
  cursor: pointer;
  box-shadow: 0 0 0 0 white, 0 0 0 0 white;
  transition: box-shadow 1s ease-in-out;
}

.menu:hover {
  box-shadow: 0 0 0 8px white, 0 0 0 8px white;
}

.hamburguer {
  position: relative;
  background: black;
  display: block;
  height: 2px;
  width: 30px;
  top: 29px;
  left: 15px;
  transition: .5s ease-in-out;
}

.hamburguer:before , .hamburguer:after {
  background: black;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: .5s ease-in-out;
}

.hamburguer:before {
  top: -10px;
}

.hamburguer:after {
  bottom: -10px;
}

#menu-hamburguer {
  display: none;
}

.x {
  position: relative;
  background: black;
  display: block;
  height: 2px;
  width: 30px;
  top: 29px;
  left: 15px;
  transform: rotate(45deg);
  transition: .5s ease-in-out;
}

.x:before , .x:after {
  background: black;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: rotate(-90deg);
  transition: .5s ease-in-out;
}

.login-x {
  background-color: white;
  border-radius: 50%;
  height: 60px;
  right: 25px;
  position: fixed;
  top: 25px;
  width: 60px;
  cursor: pointer;
  box-shadow: 0 0 0 130vw white, 0 0 0 130vh white;
  transition: box-shadow 1s ease-in-out;
}

.rank-container {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-texto {
  position: absolute;
  right: 70px;
}
